{
  "client": {
    "name": "{{ sensu_client_name }}",
    "address": "{{ sensu_client_address | default(ansible_default_ipv4['address']) }}",
    "subscriptions": {{ sensu_client_subscriptions | to_nice_json }}
  }
}
