[
    {rabbit, [
    {% if sensu_rabbitmq_enable_ssl %}
    {ssl_listeners, [{{ sensu_rabbitmq_port }}]},
    {ssl_options, [{cacertfile,"{{ sensu_rabbitmq_config_path }}/ssl/cacert.pem"},
                   {certfile,"{{ sensu_rabbitmq_config_path }}/ssl/cert.pem"},
                   {keyfile,"{{ sensu_rabbitmq_config_path }}/ssl/key.pem"},
                   {verify,verify_peer},
                   {versions, ['tlsv1.2']},
                   {ciphers,  [{rsa,aes_256_cbc,sha256}]},
                   {fail_if_no_peer_cert,true}]}
    {% else %}
    {tcp_listeners, [{{ sensu_rabbitmq_port }}]}
    {% endif %}
  ]}
].
