{
  "rabbitmq": {
    {% if sensu_rabbitmq_enable_ssl %}
    "ssl": {
      "cert_chain_file": "{{ sensu_config_path }}/ssl/cert.pem",
      "private_key_file": "{{ sensu_config_path }}/ssl/key.pem"
    },
    {% endif %}
    "host": "{{ sensu_rabbitmq_host }}",
    "port": {{ sensu_rabbitmq_port }},
    "vhost": "{{ sensu_rabbitmq_sensu_vhost }}",
    "user": "{{ sensu_rabbitmq_sensu_user_name }}",
    "password": "{{ sensu_rabbitmq_sensu_password }}"
  }
}
