{
 "sensu": [
   {
       "name": "{{ sensu_uchiwa_dc_name }}",
       "host": "{{ sensu_api_host }}",
       "ssl": {{ sensu_api_ssl }},
       "port": {{ sensu_uchiwa_sensu_api_port }},
       "user": "{{ sensu_api_user_name }}",
       "pass": "{{ sensu_api_password }}",
       "path": "{{ sensu_api_sensu_uchiwa_path }}",
       "timeout": {{ sensu_api_timeout }}
   }
 ],
 "dashboard": {
   "users": {{ sensu_uchiwa_users | to_nice_json }},
   "port": {{ sensu_uchiwa_port }},
   "refresh": {{ sensu_uchiwa_refresh }}
  }
}
