{
 "sensu": [
   {
       "name": "{{ sensu_uchiwa_dc_name }}",
       "host": "{{ sensu_api_host }}",
       "ssl": {{ sensu_api_ssl | lower }},
       "port": {{ sensu_uchiwa_api_port }},
       {% if sensu_api_user_name %}
       "user": "{{ sensu_api_user_name }}",
       "pass": "{{ sensu_api_password }}",
       {% endif %}
       "path": "{{ sensu_api_uchiwa_path }}",
       "timeout": {{ sensu_api_timeout }}
   }
 ],
 "uchiwa": {
   {% if sensu_uchiwa_users %}
   "users": {{ sensu_uchiwa_users | to_nice_json }},
   {% endif %}
   "port": {{ sensu_uchiwa_port }},
   {% if sensu_uchiwa_auth_privatekey %}
   "auth": {
     "privatekey": "{{ sensu_uchiwa_auth_privatekey }}",
     "publickey": "{{ sensu_uchiwa_auth_publickey }}"
   },
   {% endif %}
   "refresh": {{ sensu_uchiwa_refresh }}
  }
}
