{
  "client": {
    "name": "windows-clientxx",
    "address": "127.0.0.1",
    "environment": "development",
    "subscriptions": [
      "test"
    ],
    "socket": {
      "bind": "127.0.0.1",
      "port": 3030
    }
  }
}