{
  "client": {
    "name": "{{ ansible_hostname }}",
    "address": "{{ inventory_hostname }}",
    "environment": "production",
    "subscriptions": [
      "windows",
      "test"
    ],
    "socket": {
      "bind": "127.0.0.1",
      "port": 3030
    }
  }
}